*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
body{
    background-color: red;
} */

/* div{
    width: 200px;
    height: 200px;
    margin: 150px auto;
    background-image: radial-gradient(red, orange);
    /* box-shadow: 0 0 5px 5px black; */
    /* border-radius: 100px;
}  */ 

div{
    width: 400px;
    height: 200px;
    border: 30px double transparent;
    background-image:linear-gradient(white, white),
    linear-gradient(red, blue);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 100px auto;
}

h1{
    -webkit-text-fill-color: transparent;
    background-image: url(king\ t’challa_\ black\ panther.jpeg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    width: fit-content;
    font-size: 5rem;
    font-family: sans-serif;
}